body,h1,h2,h3,p,ul,blockquote{margin:0;}
ul{padding:0;list-style:none;}
body{width:100%;font: 14px "微软雅黑","Arial";overflow-x:hidden;}
img{border:none;}
h1,h2,h3,h4{font-size:100%}
*{  box-sizing: border-box;}
a{display:block;}
.clear{clear:both;}
header,section,article,footer{
   margin:0 auto;
   width:892px;
}
header{
   position:relative;
   height:63px;
   margin-bottom:36px;
   border-bottom:2px solid #938e8c;

}
header  .logo{
   display:block;
   width:110px;
   height:61px;
   line-height:61px;
   text-align:center;
   background:#D45D5C;
}
header  .logo a{
  text-decoration:none;
  color:#fff;
  font:12px "黑体";
}
header time{
  position:absolute;
  right:0;
  bottom:4px;
}
section img{
 float:left;
 width:650px;
 height:301px;
}
section .about{
 float:right;
 width:210px;
 border-top:2px solid #cc8091;
}
section .about a{
  font-size:24px;
  color:#000;
}
section .about p{
  margin-top:10px;
  margin-bottom:20px;
}
section em{
  font-size:116px;
  color:#75b86b;

}
section .about .one{
  font-size:55px;
  color:#cc8091;
}
section .about .two{
  font-size:21px;
  color:#cc8091;
}
section .about .three{
  font-size:12px;
  color:#cc8091;
}
 /*第一块文章*/
.introduce{
  margin:40px auto;
}
.what,.when,.how{
  float:left;
  padding-right:4%;
  text-align:justify;
}
.what{
  width:40%;
}
.how,.when{
  width:30%;
}
.introduce:after{
  content:".";
  display:block;
  height:0;
  visibility:hidden;
  clear:both;
}
.introduce .what a,.introduce .when a,.introduce .how a{
  font-size:16px;
  margin-bottom:10px;
}
.introduce .what a{
 color:#75b86b;
}
.introduce .when a{
  color:#d2994f;
}
.introduce .how a{
   color:#cc7680;
}
.introduce .how p:first-of-type{
   margin-bottom:30px;
}
.introduce .how p+p{
   font-size:12px;
   line-height:16px;
}
.introduce .how em{
   font-size:12px;
   color:#cc7680;
   opacity:0.7;
}

/* 前端技术*/
article.skill{
  padding-bottom:20px;
  border-bottom:1px solid #938e8c;
}
.left_skill{
  float:left;
  width:415px;
}
.left_skill .top{
  border-bottom:2px solid #11456b;
}
.left_skill .top h2{
  font:bold 42px "黑体";
  color:#11456b;
}
.left_skill .top em{
   font:bold   italic 72px "黑体";
   color:#f5e327;
}
.left_skill .top p{
   font: bold 33px "黑体";
   color:#11456b;

}
.left_skill .bottom{
    padding-top:24px;
 }
 .left_skill .bottom p:first-letter{
    font: bold 70px "黑体";
    color:#f5e327;
    float:left;
  }
.left_skill .bottom p{
    font:12px "宋体";
    color:#767777;
    line-height:16px;
    text-align:justify;
 }
.left_skill .bottom img{
    float:right;
    margin:20px 0 20px 20px;
 }
 .right_skill{
   float:right;
   width:458px;
   padding-top:18px;
 }
 .right_skill .top{
    position:relative;
    width:458px;
    height:257px;
 }
 .right_skill .top h3{
     position:absolute;
     left:38px;
     bottom:6px;
     height:44px;
     line-height:44px;
     padding-left:12px;
     border-left:3px solid #72b16a;
     font-size:26px;
     color:#fff;
   }
 .right_skill .top em{
   position:absolute;
   left:166px;
   bottom:14px;
   font-size:12px;
   color:#72b16a;
   word-spacing:16.8px;
  }
 .right_skill .bottom{
    position:relative;
    margin-top:20px;
    padding:20px 0 0 0;
    width:458px;
    height:318px;
    background:#EEEED6;
 }
 .right_skill .bottom li{
     position:relative;
     padding-left:60px;
     height:40px;
     line-height:40px;
   }
 .right_skill .bottom em{
    font:12px "宋体";
    line-height:40px;
 }
.right_skill .bottom .box{
   position:absolute;
   left:36px;
   top:6px;
   width:0;
   height:0;
   border-style:solid;
   border-color:transparent transparent blue transparent;
   border-width:10px;
 }
 .right_skill .bottom .red{
   position:absolute;
   left:0;
   bottom:0;
   width:260px;
   height:160px;
   background-color:#D55D5C;
 }
  .right_skill .bottom .red h3{
    font-size:110px;
    color:#fff;
    width:78px;
    height:86px;
    border-right:2px solid #fff;
  }
   .right_skill .bottom .red h4{
      font-size:110px;
      color:#fff;
    }
 .right_skill .bottom .red p{
      position:absolute;
      font:12px "黑体";
      color:#fff;

 }
 .right_skill .bottom blockquote{
       position:absolute;
       top:157px;
       right:0;
       width:164px;
       font:12px "黑体";

  }
   .right_skill .bottom blockquote span{
      font-size:40px;
      font-style:bold;
      color:red;
   }
   footer p{
     float:right;
     font:12px "黑体";
     color:#d45d5c;
     margin-top:4px;
   }